/venv/
.idea
models
!models/hand_landmark_lite.tflite
!models/hand_landmark_lite_sh6.blob
!models/palm_detection_lite.tflite
!models/palm_detection_lite_sh6.blob
!models/palm_detection_post/convert_model.sh
!models/palm_detection_post/make_torch_pd_postprocess.py
!models/palm_detection_post/palm_detection_post_sh1.blob
!models/gesture_recognition_lstm.onnx